#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    bottom: 0px;
    top: 70px;
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    border-right: 1px solid #e7e7e7;
    margin-left: -225px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    width: 225px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
    background: rgb(255, 255, 255, 0.2);
    width: 100%;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.active {
    background: rgb(245, 185, 113, 0.5) !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: 70px;
        z-index: 1000;
        width: 200px;
        height: 0;
    }
}

.sidebar-title {
    margin-left: 8%;
}



.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px; 
	margin: 50px;
}

.row {
	margin: 0px;
}

.inner-dropdown {
    margin-left: 10px; 
}

.checkbox {
    margin-left: 10px;
}

.checkbox-div {
    padding-top: 25px;
}



/* Style the tab */
.tab {
  float: left;
  border-top: 1px solid #ccc;
  /*border-left: 1px solid #ccc;*/
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  /*height: 100%;*/
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 16px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;  
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: white !important;
  border-right: 0px;
}


/*.new-page-button {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}*/

.new-page-icon {
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 18px;
    height: 18px;
    line-height: 50%;
}

.fa-plus {
    font-size: 0.68em;
}

.status-label {
  display: block;
}
