{% extends 'base.html' %}
{% load static %}

{% block title %}
Ramón | Articles
{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <button type="button" class="btn btn-light" onclick="location.href='{% url 'admin:index' %}'">Admin Page</button>
  <button type="button" class="btn btn-light" onclick="location.href='{% url 'logout' %}'">Logout</button>
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'tables/sidenav.html' %}
        <main id="page-content-wrapper" role="main">
            <div class="row">
                <div class="col-11 card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Articles</h2>
                        <table id="table_id" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Newspaper</th>
                                    <th>Issue</th>
                                    <th>Page Numbers</th>
                                    <th>URL</th>
                                    <th>Person</th>
                                    <th>Location</th>
                                    <th>Building</th>
                                    <th>Type of Format</th>
                                    <th>Text Format</th>
                                    <th>Personal Memory</th>
                                    <th>Historical Memory</th>
                                    <th>Politics</th>
                                    <th>Architecture</th>
                                    <th>Urbanism</th>
                                    <th>Art</th>
                                    <th>Cultural Life</th>
                                    <th>Aesthetic</th>
                                    <th>Literature</th>
                                    <th>Popular Culture</th>
                                    <th>Entertainment</th>
                                    <th>Media</th>
                                    <th>Leisure</th>
                                    <th>Consumerism</th>
                                    <th>Science</th>
                                    <th>Objects</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'edit-articles' item.id %}"><i class="fa fa-pencil"></i></a>
                                            <a href="{% url 'delete-articles' item.id %}" onclick="return confirm('Do you want to delete {{ item.title }}?')"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.newspaper }}</td>
                                        <td>{{ item.issue }}</td>
                                        <td>{{ item.page_numbers }}</td>
                                        <td>{{ item.url }}</td>
                                        <td>{% for person in item.person.all %}{{ person.name }}<br/>{% endfor %}</td>
                                        <td>{% for location in item.location.all %}{{ location.name }}<br/>{% endfor %}</td>
                                        <td>{% for building in item.building.all %}{{ building.name }}<br/>{% endfor %}</td>
                                        <td>{{ item.type_of_format }}</td>
                                        <td>{{ item.format_of_text }}</td>
                                        <td>{% for personal_memory in item.personal_memory.all %}{{ personal_memory.memory }}<br/>{% endfor %}</td>
                                        <td>{% for historical_memory in item.historical_memory.all %}{{ historical_memory.person.name }}<br/>{% endfor %}</td>
                                        <td>{% for politics in item.politics.all %}{{ politics.period.name }}<br/>{% endfor %}</td>
                                        <td>{% for architecture in item.architecture.all %}{{ architecture.person.name }}<br/>{% endfor %}</td>
                                        <td>{% for urbanism in item.urbanism.all %}{{ urbanism.name }}<br/>{% endfor %}</td>
                                        <td>{% for art in item.art.all %}{{ art.title }}<br/>{% endfor %}</td>
                                        <td>{% for cultural_life in item.cultural_life.all %}{{ cultural_life.events }}<br/>{% endfor %}</td>
                                        <td>{% for aesthetic in item.aesthetic.all %}{{ aesthetic.name }}<br/>{% endfor %}</td>
                                        <td>{% for literature in item.literature.all %}{{ literature.work }}<br/>{% endfor %}</td>
                                        <td>{% for popular_culture in item.popular_culture.all %}{{ popular_culture.event }}<br/>{% endfor %}</td>
                                        <td>{% for entertainment in item.entertainment.all %}{{ entertainment.type }}<br/>{% endfor %}</td>
                                        <td>{% for media in item.media.all %}{{ media.name }}<br/>{% endfor %}</td>
                                        <td>{% for leisure in item.leisure.all %}{{ leisure.name }}<br/>{% endfor %}</td>
                                        <td>{% for consumerism in item.consumerism.all %}{{ consumerism.shop }}<br/>{% endfor %}</td>
                                        <td>{% for science in item.science.all %}{{ science.type }}<br/>{% endfor %}</td>
                                        <td>{% for objects_mentioned in item.objects_mentioned.all %}{{ objects_mentioned.name }}<br/>{% endfor %}</td>
                                        <td>{{ item.get_status_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        var status = 28;
    </script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}