{% extends 'base.html' %}
{% load static %}

{% block title %}
Ramón | Literary Movements
{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'tables/sidenav.html' %}
        <main id="page-content-wrapper" role="main">
            <div class="row">
                <div class="col-11 card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Literary Movements</h2>
                        <table id="table_id" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'edit-literary-movements' item.id %}"><i class="fa fa-pencil"></i></a>
                                            <a href="{% url 'delete-literary-movements' item.id %}" onclick="return confirm('Do you want to delete {{ item.name }}?')"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.get_status_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        var status = 2;
        var approveButton = false;
    </script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}