<div id="sidebar-wrapper">
    <aside id="sidebar">
        <ul id="sidemenu" class="sidebar-nav">
            <li>
                <a href="{% url 'articles' %}">
                    <span class="sidebar-title">Articles</span>
                </a>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-1">
                    <span class="sidebar-title">People Tables</span>
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul id="submenu-1" class="panel-collapse collapse panel-switch" role="menu">                    
                    <li><a href="{% url 'people' %}"><i class="fa fa-caret-right"></i>People</a></li>                 
                    <li><a href="{% url 'occupations' %}"><i class="fa fa-caret-right"></i>Occupations</a></li>              
                    <li><a href="{% url 'relations' %}"><i class="fa fa-caret-right"></i>Relations</a></li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                    <span class="sidebar-title">Location Tables</span>
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                    <li><a href="{% url 'locations' %}"><i class="fa fa-caret-right"></i>Locations</a></li>
                    <li><a href="{% url 'location-types' %}"><i class="fa fa-caret-right"></i>Location Types</a></li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                    <span class="sidebar-title">Building Tables</span>
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                    <li><a href="{% url 'buildings' %}"><i class="fa fa-caret-right"></i>Buildings</a></li>
                    <li><a href="{% url 'building-types' %}"><i class="fa fa-caret-right"></i>Building Types</a></li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-4">
                    <span class="sidebar-title">Format of Text Tables</span>
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul id="submenu-4" class="panel-collapse collapse panel-switch" role="menu">
                    <li><a href="{% url 'text-formats' %}"><i class="fa fa-caret-right"></i>Format of Texts</a></li>
                    <li><a href="{% url 'types-of-format' %}"><i class="fa fa-caret-right"></i>Types of Format</a></li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-5">
                    <span class="sidebar-title">History Tables</span>
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul id="submenu-5" class="panel-collapse collapse panel-switch" role="menu">
                    <li><a href="{% url 'personal-memories' %}"><i class="fa fa-caret-right"></i>Personal Memories</a></li>
                    <li><a href="{% url 'historical-memories' %}"><i class="fa fa-caret-right"></i>Historical Memories</a></li>
                    <li><a href="{% url 'historical-periods' %}"><i class="fa fa-caret-right"></i>Historical Periods</a></li>
                    <li><a href="{% url 'politics' %}"><i class="fa fa-caret-right"></i>Politics</a></li>
                    <li><a href="{% url 'politics-periods' %}"><i class="fa fa-caret-right"></i>Politics Periods</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'architectures' %}">
                    <span class="sidebar-title">Architectures</span>
                </a>
            </li>
            <li>
                <a href="{% url 'urbanism' %}">
                    <span class="sidebar-title">Urbanism</span>
                </a>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-7">
                    <span class="sidebar-title">Culture Tables</span>
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul id="submenu-7" class="panel-collapse collapse panel-switch" role="menu">
                    <a class="accordion-toggle collapsed toggle-switch inner-dropdown" data-toggle="collapse" href="#submenu-8">
                        <span class="sidebar-title">Art Tables</span>
                        <b class="fa fa-caret-down"></b>
                    </a>
                    <ul id="submenu-8" class="panel-collapse collapse panel-switch inner-dropdown" role="menu">
                        <li><a href="{% url 'arts' %}"><i class="fa fa-caret-right"></i>Arts</a></li>
                        <li><a href="{% url 'artistic-movements' %}"><i class="fa fa-caret-right"></i>Artistic Movements</a></li>
                        <li><a href="{% url 'art-styles' %}"><i class="fa fa-caret-right"></i>Art Styles</a></li>
                        <li><a href="{% url 'art-types' %}"><i class="fa fa-caret-right"></i>Art Types</a></li>
                        <li><a href="{% url 'art-categories' %}"><i class="fa fa-caret-right"></i>Art Categories</a></li>
                    </ul>
                    <li><a href="{% url 'cultural-lives' %}"><i class="fa fa-caret-right"></i>Cultural Lives</a></li>
                    <li><a href="{% url 'aesthetics' %}"><i class="fa fa-caret-right"></i>Aesthetics</a></li>
                    <li><a href="{% url 'aesthetic-movements' %}"><i class="fa fa-caret-right"></i>Aesthetic Movements</a></li>
                    <a class="accordion-toggle collapsed toggle-switch inner-dropdown" data-toggle="collapse" href="#submenu-9">
                        <span class="sidebar-title">Literature Tables</span>
                        <b class="fa fa-caret-down"></b>
                    </a>
                    <ul id="submenu-9" class="panel-collapse collapse panel-switch inner-dropdown" role="menu">
                        <li><a href="{% url 'literature' %}"><i class="fa fa-caret-right"></i>Literature</a></li>
                        <li><a href="{% url 'literary-genres' %}"><i class="fa fa-caret-right"></i>Literary Genres</a></li>
                        <li><a href="{% url 'literary-movements' %}"><i class="fa fa-caret-right"></i>Literary Movements</a></li>
                    </ul>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-10">
                    <span class="sidebar-title">Mass Culture Tables</span>
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul id="submenu-10" class="panel-collapse collapse panel-switch" role="menu">
                    <li><a href="{% url 'popular-cultures' %}"><i class="fa fa-caret-right"></i>Popular Cultures</a></li>
                    <li><a href="{% url 'entertainment' %}"><i class="fa fa-caret-right"></i>Entertainment</a></li>
                    <li><a href="{% url 'media' %}"><i class="fa fa-caret-right"></i>Media</a></li>
                    <li><a href="{% url 'media-types' %}"><i class="fa fa-caret-right"></i>Media Types</a></li>
                    <li><a href="{% url 'leisure' %}"><i class="fa fa-caret-right"></i>Leisure</a></li>
                    <li><a href="{% url 'leisure-types' %}"><i class="fa fa-caret-right"></i>Leisure Types</a></li>
                    <li><a href="{% url 'consumerism' %}"><i class="fa fa-caret-right"></i>Consumerism</a></li>
                    <li><a href="{% url 'fashion' %}"><i class="fa fa-caret-right"></i>Fashion</a></li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-11">
                    <span class="sidebar-title">Science Tables</span>
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul id="submenu-11" class="panel-collapse collapse panel-switch" role="menu">
                    <li><a href="{% url 'sciences' %}"><i class="fa fa-caret-right"></i>Sciences</a></li>
                    <li><a href="{% url 'types-of-science' %}"><i class="fa fa-caret-right"></i>Types Of Science</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'objects' %}">
                    <span class="sidebar-title">Objects</span>
                </a>
            </li>
        </ul>
    </aside>
</div>