{% extends 'base.html' %}
{% load static %}

{% block title %}
Ramón | New Literature
{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <button type="button" class="btn btn-light" onclick="location.href='{% url 'admin:index' %}'">Admin Page</button>
    <button type="button" class="btn btn-light" onclick="location.href='{% url 'logout' %}'">Logout</button>
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'tables/sidenav.html' %}
        <main id="page-content-wrapper" role="main">
            <div class="row">
                <div class="col-11 card">
                    <div class="card-body">
                        <h2 class="card-title text-center">New Literature</h2>
                        <hr>
                        <br>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group form-inline">
                                        <label class="label required" for="{{ form.work.id_for_label }}">Work:</label>
                                        {{ form.work }}
                                        {{ form.work.errors }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group form-inline">
                                        <label class="label" for="{{ form.movement.id_for_label }}">Movement:</label>
                                        {{ form.movement }}
                                        {{ form.movement.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group form-inline">
                                        <label class="label" for="{{ form.writer.id_for_label }}">Writer:
                                            <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                        </label>
                                        {{ form.writer }}
                                        {{ form.writer.errors }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group form-inline">
                                        <label class="label" for="{{ form.themes.id_for_label }}">Themes:</label>
                                        {{ form.themes }}
                                        {{ form.themes.errors }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <button type="button" class="btn btn-light cancel-btn" onclick="location.href='{% url 'literature' %}'">Cancel</button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn submit-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}


{% block js %}
{% endblock %}