{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}


{% block title %}
Ramón Gómez de la Serna
{% endblock %}


{% block css %}
	{% leaflet_css %}
	<style type="text/css">
		.leaflet-container {
			height: 450px;
		}
	</style>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-12">
		<h2 id="index_header">Ramón's Articles</h2>
	</div>
</div>
<div class="row">
	<div class="col-10 offset-1">
		{% leaflet_map "main" callback="window.main_map_init"%}
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-10 offset-1">
		<table id="articles_list" class="display" style="width: 100%">
			<thead>
				<td>Articles</td>
			</thead>	
			<tbody>
				{% for article in articles %}
				<tr>
					<td><p style="margin-left: 30px; text-indent: -30px;">{{article.title}}.
						{% if article.date %} ({{article.date|date:'Y, F d'}}).{% endif %}

						{% if article.newspaper%} <i>{{ article.newspaper }}</i>{% endif %}{% if article.issue and article.page_numbers %}, ({{ article.issue }}), {{ article.page_numbers }}.
						{% elif article.issue %}, ({{ article.issue}}).
						{% elif article.page_numbers %}, {{ article.page_numbers }}.
						{% else %}.
						{% endif %}

						{% if article.url %}<a href="{{ article.url }}" style="color: blue">{{ article.url }}</a>.{% endif %}
					</p></td>
				</tr>
				{% endfor %}
			</tbody>	
		</table>
	</div>
</div>
{% endblock %}


{% block js %}
	{% leaflet_js %}
    <script src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript">
    	var locationsCollection = {{ locations|geojsonfeature:"popupContent"|safe }};
    	var buildingsCollection = {{ buildings|geojsonfeature:"popupContent"|safe }};

    	function onEachFeature(feature, layer) {
			if (feature.properties && feature.properties.popupContent) {
				layer.bindPopup(feature.properties.popupContent);
			}
		}

		function main_map_init(map, options) {
			map.setView([40.420, -3.70], 14);
			L.geoJson(locationsCollection, {onEachFeature: onEachFeature}).addTo(map);
			L.geoJson(buildingsCollection, {onEachFeature: onEachFeature}).addTo(map);
		}

   //  	function main_map_init (map, options) {
			// map.setView([40.400, -3.70], 10.5);

   //          var dataurl = '{% url "data" %}';

		 //    $.getJSON(dataurl, function (data) {
		 //        L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
		 //    });
   //      }
    </script>
{% endblock %}