{% extends 'base.html' %}
{% load static %}

{% block title %}
Ramón | {{ title }} Aesthetic Movement
{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'tables/sidenav.html' %}
        <main id="page-content-wrapper" role="main">
            <div class="row">
                <div class="col-11 card">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ title }} Aesthetic Movement</h2>
                        <hr>
                        <br>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group form-inline">
                                        <label class="label required" for="{{ form.name.id_for_label }}">Name:</label>
                                        {{ form.name }}
                                        {{ form.name.errors }}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="label status-label">Status of Record:</label>
                                        {{ form.complete }}
                                        <label class="label" for="{{ form.complete.id_for_label }}">Complete</label>
                                        {{ form.complete.errors }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <button type="button" class="btn btn-light cancel-btn" onclick="location.href='{% url 'aesthetic-movements' %}'">Cancel</button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn submit-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}


{% block js %}
{% endblock %}