{% extends 'base.html' %}
{% load static %}

{% block title %}
Ramón | New Article
{% endblock %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'tables/sidenav.html' %}
        <main id="page-content-wrapper" role="main">
            <div class="row">
                <div class="col-11 card">
                    <div class="card-body">
                        <h2 class="card-title text-center">New Article</h2>
                        <hr>
                        <br>
                        <form method="post" id="articleForm" enctype='multipart/form-data' data-text-format-url="{% url 'ajax-load-text-format' %}">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}



                            <div class="row">
                                <div class="col-2">
                                    <div class="tab">
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Metadata')" id="defaultOpen">Metadata</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'People')">People</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Locations')">Locations</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Buildings')">Buildings</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Histories')">Histories</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Architectures')">Architectures and Urbanism</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Cultures')">Cultures</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Mass')">Mass Cultures</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Sciences')">Sciences</button>
                                        <button type="button" class="tablinks" onclick="openTab(event, 'Objects')">Objects</button>
                                    </div>
                                </div>
                                <div class="col-10">  

                                    <div class="tabcontent" id="Metadata">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group form-inline">
                                                    <label class="label required" for="{{ form.title.id_for_label }}">Title:</label>
                                                    {{ form.title }}
                                                    {{ form.title.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group form-inline">
                                                    <label class="label" for="{{ form.date.id_for_label }}">Date:</label>
                                                    {{ form.date }}
                                                    {{ form.date.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group form-inline">
                                                    <label class="label" for="{{ form.place_of_publication.id_for_label }}">Place of Publication:</label>
                                                    {{ form.place_of_publication }}
                                                    {{ form.place_of_publication.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group form-inline">
                                                    <label class="label" for="{{ form.newspaper.id_for_label }}">Newspaper:</label>
                                                    {{ form.newspaper }}
                                                    {{ form.newspaper.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group form-inline">
                                                    <label class="label" for="{{ form.issue.id_for_label }}">Issue:</label>
                                                    {{ form.issue }}
                                                    {{ form.issue.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group form-inline">
                                                    <label class="label" for="{{ form.page_numbers.id_for_label }}">Page Numbers:</label>
                                                    {{ form.page_numbers }}
                                                    {{ form.page_numbers.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.type_of_format.id_for_label }}">Type of Format:
                                                        <i class="fa fa-info-circle" title="Select from dropdown."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-types-of-format" title="Create new Type of Format if it doesn't exist in dropdown."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.type_of_format }}
                                                    {{ form.type_of_format.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.format_of_text.id_for_label }}">Format of Text:
                                                        <i class="fa fa-info-circle" title="Select from dropdown."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-text-formats" title="Create new Format of Text if it doesn't exist in dropdown."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.format_of_text }}
                                                    {{ form.format_of_text.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group form-inline">
                                                    <label class="label" for="{{ form.url.id_for_label }}">URL:</label>
                                                    {{ form.url }}
                                                    {{ form.url.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label status-label">Status of Record:</label>
                                                    {{ form.complete }}
                                                    <label class="label" for="{{ form.complete.id_for_label }}">Complete</label>
                                                    {{ form.complete.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>                    

                                    <div class="tabcontent" id="People">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.person.id_for_label }}">People:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-people" title="Create new Person if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.person }}
                                                    {{ form.person.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tabcontent" id="Locations">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.location.id_for_label }}">Locations:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-locations" title="Create new Location if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.location }}
                                                    {{ form.location.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tabcontent" id="Buildings">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.building.id_for_label }}">Buildings:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-buildings" title="Create new Building if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.building }}
                                                    {{ form.building.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tabcontent" id="Histories">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.personal_memory.id_for_label }}">Personal Memories:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-personal-memories" title="Create new Personal Memory if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.personal_memory }}
                                                    {{ form.personal_memory.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.historical_memory.id_for_label }}">Historical Memories:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-historical-memories" title="Create new Historical Memory if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.historical_memory }}
                                                    {{ form.historical_memory.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.politics.id_for_label }}">Politics:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-politics" title="Create new Politics if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.politics }}
                                                    {{ form.politics.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tabcontent" id="Architectures">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.architecture.id_for_label }}">Architectures:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-architectures" title="Create new Architecture if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.architecture }}
                                                    {{ form.architecture.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.urbanism.id_for_label }}">Urbanism:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-urbanism" title="Create new Urbanism if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.urbanism }}
                                                    {{ form.urbanism.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tabcontent" id="Cultures">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.art.id_for_label }}">Arts:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-arts" title="Create new Art if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.art }}
                                                    {{ form.art.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.cultural_life.id_for_label }}">Cultural Lives:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-cultural-lives" title="Create new Cultural Life if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.cultural_life }}
                                                    {{ form.cultural_life.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.aesthetic.id_for_label }}">Aesthetic:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-aesthetics" title="Create new Aesthetic if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.aesthetic }}
                                                    {{ form.aesthetic.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.literature.id_for_label }}">Literature:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-literature" title="Create new Literature if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.literature }}
                                                    {{ form.literature.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tabcontent" id="Mass">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.popular_culture.id_for_label }}">Popular Culture:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-popular-cultures" title="Create new Popular Culture if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.popular_culture }}
                                                    {{ form.popular_culture.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.entertainment.id_for_label }}">Entertainment:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-entertainment" title="Create new Entertainment if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.entertainment }}
                                                    {{ form.entertainment.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.media.id_for_label }}">Media:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-media" title="Create new Media if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.media }}
                                                    {{ form.media.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.leisure.id_for_label }}">Leisure:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-leisure" title="Create new Leisure if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.leisure }}
                                                    {{ form.leisure.errors }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.consumerism.id_for_label }}">Consumerism:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-consumerism" title="Create new Consumerism if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.consumerism }}
                                                    {{ form.consumerism.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tabcontent" id="Sciences">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.science.id_for_label }}">Sciences:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-sciences" title="Create new Science if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.science }}
                                                    {{ form.science.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tabcontent" id="Objects">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="label dropdown-label" for="{{ form.objects_mentioned.id_for_label }}">Objects:
                                                        <i class="fa fa-info-circle" title="Click on an item to select it. Hold control to select multiple items."></i>
                                                        <button type="submit" class="btn btn-outline-dark new-page-icon" name="new_page" value="new-objects" title="Create new Object if it doesn't exist in the list."><i class="fa fa-plus"></i></button>
                                                    </label>
                                                    {{ form.objects_mentioned }}
                                                    {{ form.objects_mentioned.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <button type="button" class="btn btn-light cancel-btn" onclick="location.href='{% url 'articles' %}'">Cancel</button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn submit-btn" onclick="return submitClicked()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}


{% block js %}
    <!-- This script handles the dependent dropdown items -->
    <script type="text/javascript">
        $("#id_type_of_format").change(function () {
          var url = $("#articleForm").attr("data-text-format-url");  
          var typeOfFormatId = $(this).val();  

          $.ajax({                       
            url: url,                    
            data: {
              'type_of_format': typeOfFormatId       
            },
            success: function (data) {   
              $("#id_format_of_text").html(data);  
            }
          });

        });
    </script>

    <!-- This script handles the vertical tabs left of the form -->
    <script type="text/javascript">
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();

        function submitClicked() {
            document.getElementById("defaultOpen").click();
        }
    </script>
    <script src="{% static 'js/new.js' %}"></script>
{% endblock %}